.BannerAddButton button {
  width: 140px;
  height: 40px;
  background: linear-gradient(134.99deg, #7c057b 0%, #cd2791 77.02%);
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  border: transparent;
}
.BannerAddButton {
  padding-left: 500px;
  padding-bottom: 50px;
}
.cantAdd {
  padding-top: 20px;
  color: #7c057b;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
.bannerModalTitle {
  color: #7c057b;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
}
.Xicon {
  cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  width: 100%;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}