.categoryTable {
  width: 96%;
  background: #ffffff;
  margin-left: 2%;
}

.categoryTable th {
  background: #31456a;
  height: 45px;
  color: #ffffff;
}
.categoryTable td {
  height: 50px;
}
.categoryTable tr th:nth-child(1) {
  padding-left: 30px;
}
.categoryTable tr th:nth-child(2) {
  padding-right: 200px;
}
.categoryTable tr td:nth-child(1) {
  padding-left: 30px;
}
