.profileTable {
  width: 96%;
  background: #ffffff;
  margin-left: 2%;
}
.profileTable th {
  background: #31456a;
  height: 45px;
  color: #ffffff;
  padding-left: 20px;
}
.profileTable td {
  height: 50px;
  padding-left: 20px;
}
